#wrapper{
      background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 965px;
    background:none;
}

.propiedades-mas-visitadas-propiedad
{
    height: 266px;
}

#propiedades-mas-visitadas-header
{
    font-size: 1em;
    height: 41px;
    padding-top:15px;
}

#propiedades-de-la-semana-header 
{
    font-size: 1em;
    width: 296px;
    height: 41px;
    padding-top:15px;
}

#propiedades-de-la-semana-propiedad
{
    height: 265px;
}